<div class="mb-6">
  <h1 class="text-2xl font-serif text-[#704214] dark:text-amber-200">Edit Article</h1>
  <p class="text-sm text-gray-500 dark:text-gray-400 mt-1 truncate"><%= @article.title %></p>
</div>

<div class="bg-white dark:bg-gray-800 rounded-lg shadow p-6">
  <%= render "form", article: @article %>
  <%= render "pinterest_pins", article: @article %>
  <%= render "story_card", article: @article %>
</div>
