<div class="mb-6">
  <h1 class="text-2xl font-serif text-sage-deep dark:text-peach">Edit Author</h1>
</div>

<div class="bg-white dark:bg-ink rounded-lg shadow p-6">
  <%= render "form", author: @author %>
</div>
