<% content_for :title, "Stories" %>

<div class="w-full">
  <% if notice.present? %>
  <p
    class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block"
    id="notice"
  >
    <%= notice %>
  </p>
  <% end %>

  <div id="stories" class="min-w-full dark:text-gray-300">
    <% if @stories.any? %>
    <!-- Display first Story with is_top = true as top anchored story with a large photo -->
    <% if @stories.where(is_top: true).any? %> <%= render partial:
    'stories/top_story', locals: { story: @stories.where(is_top: true).first }
    %> <% end %>

    <!-- Display all other stories -->
    <div class="border-b-2 border-gray-600 pb-4 mb-8">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        <% @stories.where.not(is_top: true).each do |story| %>
        <%= render story %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Display an horizontal carousel of the stories that are videos only -->
  <% if @videos.any? %>
  <div class="border-b-2 border-gray-600 pb-4 mb-8">
    <h2 class="text-4xl font-serif font-bold mb-4">Videos</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      <% @videos.each do |video| %>
      <%= render video %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

<% end %>
