<% content_for :title, "Tags" %>

<div class="w-full container mx-auto lora p-4">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div id="tags" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <% if @tags.any? %>
      <% @tags.each do |tag| %>
        <%= link_to tag, class: "block h-48 w-full font-medium shadow transition-all flex items-center justify-center" do %>
        <%= render tag %>
        <% end %>
      <% end %>
    <% else %>
      <p class="text-center my-10">No tags found.</p>
    <% end %>
  </div>
</div>
