/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */
/* @tailwind screens; */


/* Custom styles for dark mode */



/* @layer base {
  body {
    background-color: #eee;
    color: #212121;

    header {
      background-color: #f3f3f3;
      color: #212121;
      nav {
        ul{
          li {
            a {
              color: #212121;
            }
          }
        }
      }
    }
  }
  .dark body {
    background-color: #212121;
    color: #afafaf;
    header {
      background-color: #333;
      color: #afafaf;
      nav {
        ul{
          li {
            a {
              color: #afafaf;
            }
          }
        }
      }
    }
  }
} */


@layer components {
  
}

